{% extends "basic_layout.html" %}
{% block content %} 
    <style>
        .error {color: #FF0000;}
    </style>

     
<div class="container-fluid">
    
    <!--image credit: -->     
    <div class="row">     
        <div class="col-md-4"></div>
        <div class="col-md-4 hidden-xs hidden-sm"><a href ="{{ url_for('home.index') }}"><img class="img-responsive" src="static/images/c4.jpg"></a></div>
        <div class="col-md-4"></div>
    </div> 
	
    <!-- register form -->   
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">  
            <div class="wrapper">
                <form class="form-horizontal" action="{{ url_for('auth.sign_up') }}" method="post">
                    {{ register_form.hidden_tag() }}

                    <div class="form-group">
                        <label class="control-label col-sm-4">{{ register_form.first_name.label }}</label>
                        <div class="col-sm-6"> 
                        {{ register_form.first_name(class="form-control", placeholder="Enter First Name") }}
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">{{ register_form.last_name.label }}</label>
                        <div class="col-sm-6"> 
                        {{ register_form.last_name(class="form-control", placeholder="Enter Last Name") }}
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">{{ register_form.email.label }}</label>
                        <div class="col-sm-6">
                        {{ register_form.email(class="form-control", placeholder="Enter email") }}
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">{{ register_form.password.label }}</label>
                        <div class="col-sm-6"> 
                        {{ register_form.password(class="form-control", placeholder="At least 1 capital , 1 number and 8 chars long") }}
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">{{ register_form.confirm_password.label }}</label>
                        <div class="col-sm-6"> 
                        {{ register_form.confirm_password(class="form-control", placeholder="Confirm Password") }}
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">{{ register_form.phone_number.label }}</label>
                        <div class="col-sm-6"> 
                        {{ register_form.phone_number(class="form-control", placeholder="Enter Phone Number") }}
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">{{ register_form.birth_date.label }}</label>
                        <div class="col-sm-6"> 
                        {{ register_form.birth_date(class="form-control", placeholder="Enter Birth Date") }}
                        </div>
                        <div class="col-sm-2"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4">Gender:</label>
                        <div class="col-sm-6">
                            {{ register_form.gender(class="radio-inline") }}
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group"> 
                        <div class="col-sm-offset-4 col-sm-6">
                            <button type="submit" class="btn btn-default">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>  
    <!--end form--> 
</div>  
{% endblock %}