{% extends "basic_layout.html" %}
{% block content %}
<!--image credit: -->     
<div class="row">     
    <div class="col-md-4"></div>
    <div class="col-md-4 hidden-xs hidden-sm"><a href ="index.php"><img class="img-responsive" src="images/4pints.png"></a></div>
    <div class="col-md-4"></div>
</div> 
    
<!-- About Us info -->   
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="wrapper">
        
        <h2><center><b>Few Words About Us!</b></center></h2><br>
		<p><center><b><i>Cadoption is a website....efffffffffffffffffffffffeeffeffeff<br>
                        fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff<br>
                        ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffd<br>
                        Join Us! :)</i></b></center></p>      
        </div>
	</div>
	<div class="col-md-3"></div>  
</div>
{% endblock %}