{%extends "basic_layout.html"%}
{% block content %}

<div class="box">
	<div><b>Sex:</b></div>
    <hr>
    <div><b>Name:</b></div>
    <hr>
    <div><b>Age:</b></div>
    <hr>
    <div><b>Colours:</b></div>
    <hr>
    <div><b>A Few Words:</b></div>
    <hr>
    <div style="position: relative; bottom: 5%; left: 0; right: 0; margin-left: auto; margin-right: auto;">
        <button type="button" style="margin-bottom: 10%" class="btn btn-danger center-block"><a href="what.php" style="text-decoration: none; color:inherit;">I'm interested!</a></button>
    </div>
</div> 

{% endblock %}