<!-- Navbar -->
<!-- Reference: W3Schools http://www.w3schools.com/bootstrap/bootstrap_navbar.asp-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                   
        </button>
        <a class="navbar-brand" href="{{ url_for('home.index') }}">CADOPTION</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('home.find_your_meow') }}">Find your meow</a></li>
            <li><a href="{{ url_for('home.cat_funnies') }}">Cat funnies</a></li>
            <li><a href="{{ url_for('home.about_us') }}">About us</a></li>
            <li><a href="{{ url_for('home.contact_us') }}">Contact us</a></li>
            {% if current_user.is_admin %}
                <li><a href="{{ url_for('admin.admin_page') }}">*Administrator's Page*</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('home.account') }}"><span class="glyphicon glyphicon-user"></span></a></li>
                <li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span></a></li>
            {% else %}
                <li><a href="{{ url_for('auth.sign_up') }}"><span class="glyphicon glyphicon-user"></span></a></li>
                <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span></a></li>
            {% endif %}
        </ul>
    </div>
  </div>
</nav>